* {

  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  background-color:#b3d9ff;


  }
html {
    margin: 0px;
    padding: 0px;

  }
figure{
   width:100%;
   margin: 0;
   padding: 350px 0 0 0;
   position: absolute;
   left: 0;
   bottom 0px;
   overflow hidden;
   background-image :url('turtle.jpg');
   animation:turtleanim 75s linear infinite;
}

@keyframes turtleanim{
  0%{background-position: 0 0;}
  100%{background-position: 2122px 0;}
}
